body {
    width: 100%;
    margin: 0;
    background-color: white;
}

#avatar{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95px;
    height: 95px;
}

#cont{
    margin-top: 35px;
}

.social-btn{
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
}

#twitter-embed{
    width: 50%;
    margin: auto;
}

#youtube_logo{
    width: 95px;
    height: 25px;
}

#twitter_logo{
    width: 25px;
    height: 25px;
}

#tumblr_logo{
    width: 18px;
    height: 25px;
}

#tiktok_logo{
    width: 25px;
    height: 25px;
}

#twitch_logo{
    width: 25px;
    height: 25px;
}

.s_label{
    font-size: 1.1em;
    margin-left: 5px;
    color: #fff;
}

#brand_name{
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}