body {
    width: 100%;
    margin: 0;
}

#avatar{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95px;
    height: 95px;
}

#cont{
    margin-top: 35px;
}

.social-btn{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}